* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: sans-serif;
	background-color: #f5f5f5;
}

a {
	color: #fff;
	text-decoration: none;
}

#wrapper {
	min-height: 100%;
	overflow: hidden;
}

/*
 *
 OVERLAY 
 _____________________________________________________
 * 
 */

.overlay {
	visibility: hidden;
	opacity: 0;
	z-index: 11;
	position: fixed;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
}

.overlay-bkg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.popup-video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	border-radius: 10px;
	max-height: 80%;
	box-sizing: border-box;
	background-color: black;
	border: 0.5em solid white;
	transition: all 0.5s ease;
}

.popup-img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	border-radius: 10px;
	max-height: 100%;
	box-sizing: border-box;
	border: 0.5em solid white;
	background-color: white;
}

.cross {
	z-index: 1;
	position: absolute;
	top: 2%;
	right: 2%;
	color: #fff;
	opacity: 0.5;
	font-size: 2em;
	cursor: pointer;
	transition: all 0.3s ease;
}

.cross:hover {
	opacity: 1;
}

/*
 *
 HEADER
 _____________________________________________________
 * 
 */

.header {
	z-index: 10;
	width: 100%;
	min-height: 50px;
	background-color: white;
	border-bottom: 1px solid black;
}

.header a {
	color: #000;
}

.header-inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	overflow: hidden;
	transition: all 0.3s ease;
}

.header-logo {
	float: left;
	flex: 1;
	margin-top: 0.3em;
	margin-left: 0.4em;
	vertical-align: top;
	height: 50px;
	width: 50px;
	transition: all 0.3s ease;
}

.burger-menu {
	float: right;
	flex: 3;
	margin-top: 13px;
	margin-right: 12px;
	margin-left: 7px;
	vertical-align: top;
	height: 32px;
	width: 32px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.name {
	display: inline-block;
}

.header-title {
	font-size: 1.3em;
	padding-top: 0.4em;
	padding-right: 0.3em;
	text-align: right;
	flex: 2;
	transition: all 0.3s ease;
}

.header-desc {
	font-family: "open sans condensed";
	letter-spacing: 0.1em;
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-bottom: 0.9em;
	padding-right: 0.6em;
	text-align: right;
	transition: all 0.3s ease;
}

/*
 *
 NAVIGATION 
 _____________________________________________________
 * 
 */

.nav-overlay {
	z-index: 5;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nav-bkg {
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease;
}

#nav {
	display: flex;
	flex-wrap: wrap;
	font-family: "open sans condensed";
	text-align: center;
	width: 100%;
	max-height: 33px;
	border-bottom: 1px solid black;
	margin-top: -32px;
	transition: all 1s ease;
}

.home,
.about,
.archive {
	width: 33%;
	color: #000;
	font-size: 0.8em;
	letter-spacing: 0.3em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	transition: all 1s ease;
}

#mob-nav {
	z-index: 10;
	position: absolute;
	top: 0px;
	font-family: "open sans condensed";
	text-align: center;
	width: 100%;
	transition: all 1s ease;
}

.mob-home,
.mob-about,
.mob-archive {
	color: #000;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	letter-spacing: 0.3em;
	padding-top: 0.5em;
	background-color: #f5f5f5;
	height: 40px;
}

.hide-menu {
	height: 40px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	background-color: white;
}

.up {
	padding-top: 0.4em;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.hide {
	transform: translateY(-100%);
}

/*
 *
 MAIN 
 _____________________________________________________
 * 
 */

 #content {
 	background-color: #f5f5f5;
 	min-height: 100%;
 	padding-bottom: 87px;
 }

.container {
	opacity: 0;
	position: relative;
	transform: translateY(20px);
	overflow: hidden;
	transition: all 0.5s ease;
}

.featured-work {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 900px;
	height: 100%;
	transition: all 1s ease;
}

.featured-work a {
	color: black;
}

.featured1 .ft-img {
	background-image: url("../img/ft_1.jpg");
}

.featured2 .ft-img {
	background-image: url("../img/ft_2.jpg");
}

.featured3 .ft-img {
	background-image: url("../img/ft_3.jpg");
}

.featured4 .ft-img {
	background-image: url("../img/ft_4.jpg");
}

.featured5 .ft-img {
	background-image: url("../img/ft_5.jpg");
}

.ft-img {
	position: relative;
	height: 80%;
	background-size: cover;
	background-position: 50% 50%;
	transition: all 0.5s ease;
}

.ft-img:hover {
	transform: scale(0.97);
}

.ft {
	width: 100%;
	height: 350px;
	transition: all 0.5s ease;
}

.ft-desc {
	font-size: 0.8em;
	padding: 0.5em;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	transition: all 0.3s ease;
}

.ft-desc p {
	line-height: 1.5em;
}

.ft-desc h4 {
	padding: 0.3em;
}
/*
.pos1 {
	opacity: 0;
	left: -33.33%;
}

.pos2 {
	left: 0%;
}

.pos3 {
	left: 33.33%;
}

.pos4 {
	left: 66.66%;
}

.pos5 {
	opacity: 0;
	left: 99.99%;
}*/

/*
 *
 FOOTER 
 _____________________________________________________
 * 
 */

#footer {
	position: relative;
	height: 87px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid black;
	text-align: center;
	font-family: "open sans condensed";
	letter-spacing: 0.3em;
	margin-top: -87px;
	clear: both;
	box-sizing: border-box;
	transition: all 1s ease;
}

#footer a {
	color: #000;
}

#footer p {
	margin-top: 2em;
	transition: all 1s ease;
}